<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listar Perritos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      <ion-button style="display: flex; justify-content: center;">
        <ion-icon name="duplicate-outline" style="margin-right: 15px;"></ion-icon>
        Registrar Perrito
      </ion-button>
    </ion-label>
  </ion-item>
  <ion-list padding>
    <ion-item *ngFor="let p of perritos">
      <ion-label>{{p.nombre}}</ion-label>
      <ion-button>
        <ion-icon name="create-outline"></ion-icon>
        Edit
      </ion-button>
      <br/>
      <ion-button>Detail</ion-button><br/>
    </ion-item>
  </ion-list>

</ion-content>
